

@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        

        .aClass {
            width: 30%;
            padding: 20px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

          
    </style>
</head>
<body>
    <a class="aClass" asp-area="" asp-controller="Administrator" asp-action="AddProduct">Add product</a>
    <a class="aClass" asp-area="" asp-controller="Administrator" asp-action="RemoveUser">Remove user</a>
</body>
</html>


